PyQt5>=5.15.0
pydub>=0.25.1
torch>=1.13.0
transformers>=4.24.0
numpy>=1.20.0
opencc-python-reimplemented==0.1.7
flask==2.3.3
Werkzeug==2.3.7
requests==2.31.0
python-dotenv==1.0.0
gunicorn==21.2.0
pymysql==1.1.0
flask-cors==4.0.0
safetensors>=0.3.1
huggingface-hub>=0.16.4
tqdm>=4.65.0
ffmpeg-python>=0.2.0
accelerate>=0.20.3
sentencepiece>=0.1.99
protobuf>=4.23.4
# 阿里云OSS对象存储服务SDK
oss2==2.18.0